/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.loader {
	position: fixed; 
	left: 0; 
	right: 0;
	width: 100%;
	height:100%;
	z-index:9999;
	background-color:rgba(255,255,255,0.6);
}

.preloader-wrapper {
	margin-left: auto; 
	margin-right: auto;
	left: 50%;
	top: 45%;
}

.sidenav li .collapsible-body a i {
    font-size: 1rem;
}

#main .section-data-tables .dataTables_wrapper table.dataTable tbody {
	height:auto !important;
}

.menu-child1 {
	padding: 0 0 0 15px !important;
}

.menu-child2 {
	padding: 0 0 0 25px !important;
}

/* .sidenav {
	top: 75px !important;
}

.brand-sidebar {
	height: 75px !important;
} */

@media only screen and (max-width: 600px)
{
	.approve-icon{
		font-size: 29px;
		position: relative;
		top: 12px;
	}
}

.form-control-feedback {
	right: 20px;
	position: absolute;
	top: 0;
	color: #333;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	line-height: calc(1.5385em + .875rem + 2px);
	min-width: 1rem;
}

.dataTables_scrollBody::-webkit-scrollbar {
	height: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
	height: 10px;
	background-color: #d5ac68;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
	background-color: #f1db9d;
}

table > thead > tr > th {
	font-size:13px !important;
	font-weight: 800 !important;
}

table.bordered td {
	padding: 8px !important;
}

td {
	font-size: 13px !important;
}

.navbar #profile-dropdown
{
    min-width: 225px;
}

.switch {
	height: 3rem !important;
}

.browser-default {
	height: 3rem !important;
}

.select2-selection{
	overflow-y:auto;
	white-space:nowrap;
}

ul.select2-selection__rendered{  
	white-space: nowrap;
}

fieldset {
	border-radius: 25px;
	padding: 10px !important;
}

legend {
	display: table; 
	min-width: 0px;
	max-width: 70%;
	position: relative;
	margin: auto;
	padding: 5px 20px;
	color: #fa1d00;
	font-size: 20px;
	text-align: center;
	font-weight: 800;
}

.dataTables_scrollBody::-webkit-scrollbar{
	width:10px !important;
}

.sidenav li a.active {
	background: linear-gradient(45deg, #e19e4b, #6d2b17d8) !important;
}

.introjs-tooltip {
	min-width: 400px !important;
	max-width: 600px !important;
}

/* .brand-sidebar {
	height: 80px !important;
}

.sidenav {
	top: 80px !important;
} */

#version-app {
	background-color: yellow;
	animation-name: blinking;
	animation-duration: 1s;
	animation-iteration-count: 100;
	padding:5px;
	color: black;
	border-radius: 5px;
}

@keyframes blinking {
	50% {
		background-color: #0099ff;
		color: white;
	}
}

textarea.materialize-textarea {
	margin:0 0 0px 0 !important;
}

.modal {
	left: 63px;
	width: -webkit-calc(100% - 65px) !important;
    width:    -moz-calc(100% - 65px) !important;
    width:         calc(100% - 65px) !important;
}

.sidenav-main {
	z-index: 9999;
}